body {
    font-family: Arial;
    margin: 0;
}

nav {
    background: rgb(207, 114, 200);
    padding: 15px;
    text-align: center;
}

nav a {
    color: rgb(176, 113, 224);
    margin: 10px;
    text-decoration: none;
}

.hero {
    background: orange;
    color: white;
    padding: 100px;
    text-align: center;
}

.item {
    background: #f4f4f4;
    margin: 10px;
    padding: 20px;
}

form {
    text-align: center;
}

input, select {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    background: orange;
    color: white;
    border: none;
}

body {
    margin: 0;
    font-family: Arial;
}

header {
    background: #c608f1a9;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.section {
    text-align: center;
    padding: 50px;
}

.menu-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    width: 180px;
    background: white;
}

.item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #c852e6;
    color: rgb(237, 233, 233);
    border: none;
}

.login-box {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ddd;
}

.item-container {
    display: flex;
    gap: 20px;              /* space between items */
    justify-content: center; /* center align */
    flex-wrap: wrap;        /* mobile friendly */
}

.option {
    display: flex;
    flex-direction: column; /* image + text vertical */
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.option img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

body {
    margin: 0;
    font-family: Arial;
    background-size: cover;
    background-position: center;
    animation: bgChange 12s infinite;
}

@keyframes bgChange {
    0% {
        background-image: url("images/bg1.jpg");
    }
    33% {
        background-image: url("images/bg2.jpg");
    }
    66% {
        background-image: url("images/bg3.jfif");
    }
    100% {
        background-image: url("images/bg1.jpg");
    }
}


body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); /* dark overlay */
    top: 0;
    left: 0;
    z-index: -1;
}